/* LastChanged: 2026-04-23 22:52:00 */
/* ************* CHECKOUT OPTION NEWSLETTER AUSBLENDEN *************** */
/* Hostinger Reach Newsletter Opt-in im Checkout ausblenden */
.wc-block-components-address-form__hostinger-reach-newsletter-optin{
    display: none !important;
}
/* FIX FILTERBAR TEXT */
.jg-filterbar .jg-filterbar-label,
.jg-filterbar .jg-filterbtn,
.jg-filterbar .jg-filterbtn .jg-filtertext,
.jg-filterbar .jg-filterbtn .jg-count,
.jg-filterbar .jg-toggle-label,
.jg-filterbar .jg-chev,
.jg-filterbar .jg-filterbtn span{
  color: #ffffff !important;
}

/* Germanized-Produktbild im Woodmart-Checkout ausblenden */
.woocommerce-checkout
.woocommerce-checkout-review-order-table
.wc-gzd-cart-item-thumbnail {
	display: none !important;
}

/* Abstand zwischen Produktname und Mengenfeld im Woodmart-Checkout */
.woocommerce-checkout
.woocommerce-checkout-review-order-table
.wc-gzd-cart-item-name-wrapper
> .quantity {
	margin-left: 16px !important;
}
/* =========================================================
   Checkout – Sale-Preis wie im Warenkorb darstellen
   ========================================================= */

body.woocommerce-checkout
.woocommerce-checkout-review-order-table
.product-total del {
    margin-right: 5px;
    color: #767676;
    font-weight: 400;
    opacity: 1;
}

body.woocommerce-checkout
.woocommerce-checkout-review-order-table
.product-total ins {
    color: #002d55;
    font-weight: 600;
    text-decoration: none;
}