/* LastChanged: 2026-04-23 22:52:00 */
/* ************* CHECKOUT OPTION NEWSLETTER AUSBLENDEN *************** */
/* Hostinger Reach Newsletter Opt-in im Checkout ausblenden */
.wc-block-components-address-form__hostinger-reach-newsletter-optin{
    display: none !important;
}
/* FIX FILTERBAR TEXT */
.jg-filterbar .jg-filterbar-label,
.jg-filterbar .jg-filterbtn,
.jg-filterbar .jg-filterbtn .jg-filtertext,
.jg-filterbar .jg-filterbtn .jg-count,
.jg-filterbar .jg-toggle-label,
.jg-filterbar .jg-chev,
.jg-filterbar .jg-filterbtn span{
  color: #ffffff !important;
}

/* Germanized-Produktbild im Woodmart-Checkout ausblenden */
.woocommerce-checkout
.woocommerce-checkout-review-order-table
.wc-gzd-cart-item-thumbnail {
	display: none !important;
}

/* Produktname und Mengensteuerung sauber voneinander trennen */
.woocommerce-checkout
.wd-checkout-order-review
.wd-checkout-prod-title {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 12px;
	row-gap: 6px;
}

.woocommerce-checkout
.wd-checkout-order-review
.wd-checkout-prod-title
.quantity {
	margin-left: 0 !important;
	flex-shrink: 0;
}