/* =========================================================
   JEANS GLUTH – WISHLIST HERZ
   ========================================================= */

/* WoodMart-Haken ausblenden */
.wd-wishlist-btn .wd-check-icon {
    display: none !important;
}

/* Herz immer voll gefüllt und standardmäßig grau */
.wd-product
.wd-wishlist-btn.wd-action-btn
.wd-action-icon::before {
    content: "♥" !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;

    color: #dcdcdc !important;

    font-size: 30px !important;
    line-height: 1 !important;

    transition: color .12s linear !important;
}

/* Produkt befindet sich auf der Wunschliste */
.wd-product
.wd-wishlist-btn.wd-action-btn.jg-wishlist-active
.wd-action-icon::before {
    color: #761611 !important;
}